.body-input {
    background-color: #8BC6EC;
    background-image: linear-gradient(90deg, #8BC6EC 0%, #9599E2 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-head {
    color: #ffffff;
}

.loginContainer, .registerContainer {
    width: 300px;
    margin: 0 50px;
    padding: 20px 30px;
    background-color: #323232;
}

.input-form {
    display: flex;
    flex-direction: column-reverse;
    margin: 1.2em 0;
}

.login-input,
.login-label {
    transition: 0.4s ease;
}

.login-label {
    padding-left: 10px;
    transform: translate(4px, -14px) scale(1.02);
    margin-bottom: 2px;
    cursor: text;
    transform-origin: left top;
    color: #cdcdcd;
    position: absolute;
}

.login-input {
    font-size: 1.2em;
    padding: 30px 10px 10px 10px;
    border: none;
    color: white;
    border-bottom: 2px solid #cdcdcd;
    outline: none;
    background-color: #323232;
    background-image: linear-gradient(90deg, rgba(139, 198, 236, 0.5) 0%, rgba(149, 153, 226, 0.5) 100%);
    border-radius: 5px 5px 0 0;
}

.login-input::placeholder {
    opacity: 0;
}

.login-input:focus,
.login-input:not(:placeholder-shown) {
    border-bottom: 2px solid #ffffff;
}

.login-input:not(:placeholder-shown) ~ .login-label,
.login-input:focus ~ .login-label {
    transform: translate(10px, -35px) scale(0.8);
    padding-left: 0;
    color: #ffffff;
}

#eye-btn {
    border: none;
    transform: translateY(42px);
    margin-left: 85%;
    cursor: pointer;
    width: fit-content;
    background-color: transparent;
    color: #fdfdfd;
    outline: none;
    font-size: 15px;
}

#eye-btn:hover {
    color: #d9d9d9;
}

.submit-box {
    display: flex;
    justify-content: center;
    margin: 30px 0 5px 0;
}

.submit:before {
    background: #8BC6EC;
    background: -moz-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #8BC6EC), color-stop(100%, #9599E2));
    background: -webkit-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background: -o-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background: -ms-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8BC6EC', endColorstr='#9599E2', GradientType=1);
}

.submit:after {
    background-color: #323232;
}
