/* Message */

.messageSections {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.messageStyle {
    display: inline-block;
    text-align: left;
    max-width: 35%;
    padding: 1.3vh 1.3vh;
    margin: 20px 10px 5px 10px;
    font-size: 100%;
    border-radius: 15px;
    letter-spacing: 1px;
    width: fit-content;
}

.sender {
    background: #1a233b;
    color: white;
}

.receiver {
    box-shadow: 1px 2px 5px 3px #dfe0e2;
    color: black;
}

.message-Time {
    margin: 0 25px;
    font-size: 90%;
    color: #A8B6D4;
    letter-spacing: 1px;
}
