.settings-container {
    background-color: #0a0d11;
    color: white;
    height: calc(100vh - 70px);
}

.settings-line {
    margin: 4vh 5vh;
    color: #323232;
    background-color: #323232;
    border: #323232 solid 1pt;
    border-radius: 25px;
}

.settings-box {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 0 5vh;
}

.settings-child {
    padding: 0 4vh;
    margin: 2vh 5vh;
    text-align: center;
}

.settings-header {
    font-size: 15pt;
    margin: 2vh 2vh;
}

.wallet-button {
    background-color: rgb(251, 218, 97);
    background-image: linear-gradient(45deg, rgb(251, 218, 97) 0%, rgb(255, 90, 205) 100%);
    color: #ecebeb;
    cursor: pointer;
    border-radius: 25px;
    padding: 10px 20px;
    border: none;
    transition: 5s ease;
    outline: none;
}

.wallet-button:hover {
    background-color: rgb(215, 189, 82);
    background-image: linear-gradient(45deg, rgb(215, 189, 82) 0%, rgb(210, 73, 170) 100%);
}