.header {
    width: 100%;
    position: relative;
    height: 70px;
    display: flex;
    background-color: #323232;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    align-self: center;
    margin: 18px;
    text-shadow: 0 0;
}

.wallet-status {
    margin-left: 40px;
    align-self: center;
    font-size: 10pt;
}

.wallet-status svg {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.menu {
    width: 200px;
    display: flex;
    margin: 15px 50px 15px 0;
    justify-content: space-between;
}

.settingsIco {
    width: 20px;
    height: available;
    overflow: hidden;
    display: flex;
}

.fa-sliders-h {
    color: white;
    width: 100% !important;
    height: 100%;
    align-self: center;
    transition: color ease-in-out .4s;
}

.fa-sliders-h:hover {
    color: #8c91a7;
}

.logout-btn:before {
    background: #CB356B;
    background: -moz-linear-gradient(135deg, #CB356B 0%, #BD3F32 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #CB356B), color-stop(100%, #BD3F32));
    background: -webkit-linear-gradient(135deg, #CB356B 0%, #BD3F32 100%);
    background: -o-linear-gradient(135deg, #CB356B 0%, #BD3F32 100%);
    background: -ms-linear-gradient(135deg, #CB356B 0%, #BD3F32 100%);
    background: linear-gradient(135deg, #CB356B 0%, #BD3F32 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CB356B', endColorstr='#BD3F32', GradientType=1);
}

.logout-btn:after {
    background-color: #323232;
}
